<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="titulo1">RESTAURANT FOOD
    <img class="img1" src="img/fondo_1.png" alt="gatito"></h1>

    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="index.html">INICIO</a></li> <!-- falta terminar el index, vista principal -->


                <li><a href="">MENU</a>
                    <ul class="submenu">
                    <li><a href="menu.html">MENU GENERAL</a></li><!-- acomodo de los platillos, postres y demas -->
                    </ul>
                </li>

                <li><a href="promociones.html">PROMOCIONES</a></li> <!-- aqui pondre algunos combos  -->

                <li><a href="#">INGRESAR</a>
                    <ul class="submenu">
                    <li><a href="http://127.0.0.1:5501/login/index.html"> SOLO ADMINISTRADORES </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="img2">
    <img  src="img/rest5.jpeg" alt="" width="100%">
    <img  src="img/rest9.png" alt="" width="100%">
</div>

<div class="cont1 ">
    <p> Bienvenidos a nuestro restaurante familiar <br> RESTAURANT FOOD <br> Donde cada comida es una experiencia para toda la familia. En nuestro acogedor y cálido ambiente, te invitamos a disfrutar de momentos inolvidables junto a tus seres queridos, mientras saboreas deliciosos platos caseros preparados con amor y dedicación.</p>
    <img src="img/rest7.png" alt="">
</div>

<div class="cont2">
<img src="img/cordon-bleu.jpeg" alt="" width="100%">
<img src="img/lashaña.jpeg" alt="" width="100%">
<p> En nuestro menú encontrarás una amplia variedad de opciones que satisfarán todos los gustos y apetitos, desde clásicos favoritos hasta sabores innovadores que te sorprenderán. Utilizamos ingredientes frescos y de la mejor calidad para garantizar el máximo sabor en cada bocado. </p>
</div>

<div class="cont3">
    <p>Ya sea para una comida familiar, una celebración especial o simplemente para disfrutar de una buena comida, nuestro restaurante es el lugar perfecto para crear recuerdos duraderos. Te esperamos con los brazos abiertos en nuestro hogar gastronómico. ¡Ven y visitanos hoy!</p>
    <img src="img/rest6.png" alt="">
</div>

<div class="cont4">
    <img src="img/fresa.jpeg" alt="">
    <img src="img/oreo.jpeg" alt="">
    <p>Desde nuestras entradas irresistibles hasta nuestros platos principales abundantes y reconfortantes, cada elección está diseñada para complacer los paladares más exigentes. ¿Tienes un antojo de algo dulce después de la comida? No te preocupes, también ofrecemos una deliciosa selección de postres caseros que deleitarán tus sentidos y pondrán el broche de oro a tu experiencia gastronómica</p>
</div>

<div class="cont5">
    <p>Y para acompañar tu comida, no olvides explorar nuestra carta de bebidas, que incluye una variedad de opciones refrescantes de jugos naturales que complementarán perfectamente tu experiencia culinaria</p>
    <img src="img/naranja.jpeg" alt="">
    <img src="img/piña.jpeg" alt="">
</div>

<div>
    <footer class="pie-pagina">
    <div class="grupo1">
    <div class="box">
       <figure>
        <a href="#">
        <img src="img/fondo_1.png" alt="logo de RESTAURANT FOOD"> </a>
        </figure>
    </div>

    <div class="box">
        <h3> INFORMACION </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
        <h3> FORMAS DE CONTACTO </h3>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy; 2024 <b> RESTAURANT FOOD </b> - Todos son mis derechos </small>
        </div>
    </footer>
</div>

</body>
</html>