<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> menu </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="titulo1">RESTAURANT FOOD
    <img class="img1" src="img/fondo_1.png" alt="gatito"></h1>

    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="index.html">INICIO</a></li>
                <li><a href="">MENU</a>
                    <ul class="submenu">
                    <li><a href="menu.html">MENU GENERAL</a></li>
                    </ul>
                </li>
                <li><a href="promociones.html">PROMOCIONES</a></li>
                <li><a href="#">INGRESAR</a>
                    <ul class="submenu">
                    <li><a href="http://127.0.0.1:5501/login/index.html"> SOLO ADMINISTRADORES </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <h2>PLATILLOS</h2>
<div class="fila">

<div class="con">
    <img class="imagen" src="img/cordon-bleu.jpeg" alt="imagen" >
    <p class="text"> CORDON BLEU <br> $100</p>
</div>

<div class="con">
    <img class="imagen" src="img/Costillas.jpeg" alt="">
    <p class="text"> COSTILLAS EN SALSA DE PIÑA  <br> $120 </p>
</div>

<div class="con">
    <img class="imagen" src="img/enchiladas_suizas.jpeg" alt="">
    <p class="text"> ENCHILADAS SUIZAS <br> $80</p>
</div>

<div class="con">
    <img class="imagen" src="img/Lasaña.jpeg" alt="" width="300px" height="300px">
    <p class="text"> LASAÑA <br> $100 </p>
</div>

<div class="con">
    <img class="imagen" src="img/papa_rellena.jpeg" alt="" width="300px" height="300px">
    <p class="text">PAPA RELLENA <br> $90</p>
</div>

<div class="con">
    <img class="imagen" src="img/ramen.jpeg" alt="" width="300px" height="300px" >
    <p class="text">RAMEN <br> $120</p>
</div>

<div class="con">
    <img class="imagen" src="img/Salmón.jpeg" alt="" width="300px" height="300px">
    <p class="text"> SALMON <br> $150</p>
</div>

<div class="con">
    <img class="imagen" src="img/Spaghetti.jpeg" alt="" width="300px" height="300px">
    <p class="text">SPAGHETTI <br> $90</p>
    </div>

<div class="con">
    <img class="imagen" src="img/sushi.jpeg" alt="" width="300px" height="300px">
    <p class="text">SUSHI <br> $200</p>
</div>
</div>


<!--     SEGUNDO APARTADO --->

<h2>POSTRES</h2>
<div class="fila">

<div class="con">
    <img class="imagen" src="img/Chocoflan.jpeg" alt="" >
    <p class="text">REBANADA CHOCOFLAN <br> $40 </p>
</div>

<div class="con">
    <img class="imagen" src="img/fresapastel.jpeg" alt="" >
    <p class="text"> REBANADA CHEESECAKE FRESA <br> $45</p>
</div>

<div class="con">
    <img class="imagen" src="img/Oreo.jpeg" alt="" >
    <p class="text"> REBANADA CHEESECAKE OREO <br> $40</p>
</div>

<div class="con">
    <img class="imagen" src="img/Cupcake.jpg" alt="" >
    <p class="text"> CUPCAKE <br> $20 </p>
</div>

<div class="con">
    <img class="imagen" src="img/pastelchocolate.jpeg" alt="" >
    <p class="text">REBANADA PASTEL DE CHOCOLATE <br> $25</p>
</div>

<div class="con">
    <img class="imagen" src="img/flan.jpeg" alt="">
    <p class="text">FLAN <br> $25</p>
</div>

<div class="con">
    <img class="imagen" src="img/tresleches.jpeg" alt="" >
    <p class="text">PASTEL TRES LECHES <br> $25</p>
</div>

<div class="con">
    <img class="imagen" src="img/helado.jpeg" alt="" >
    <p class="text">HELADO NAPOLITANO <br> $20</p>
</div>

<div class="con">
    <img class="imagen" src="img/hotcakes.jpeg" alt="" >
    <p class="text">HOTCAKES <br> $25</p>
</div>
</div>


<!-- TERCER PARTE BEBIDAS -->

<h2> BEBIDAS </h2>

<div class="fila">
    <div class="con">
        <img class="imagen" src="img/limonada.jpeg" alt="" >
        <p class="text"> LIMONADA <br> $20</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/jamaica.png" alt="">
        <p class="text">JAMAICA <br> $2</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/aguafrutas.png" alt="">
        <p class="text">JUGO DE FRUTAS <br> $30</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/naranja.png" alt="">
        <p class="text">JUGO NARANJA <br> $20</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/Agua De Fresa.jpeg" alt="">
        <p class="text"> JUGO FRESA <br> $25</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/piña.jpeg" alt="">
        <p class="text">JUGO PIÑA <br> $25</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/cafe.jpeg" alt="">
        <p class="text">  CAFE <br> $20</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/frapuchino.jpeg" alt="">
        <p class="text"> FRAPUCHINO <br> $30</p>
    </div>
    <div class="con">
        <img class="imagen" src="img/cappuchino.png" alt="">
        <p class="text">CAFE CAPPUCCINO <br> $25</p>
    </div>
</div>


<div>
    <footer class="pie-pagina">
    <div class="grupo1">
    <div class="box">
       <figure>
        <a href="#">
        <img src="img/fondo 1.png" alt="logo de RESTAURANT FOOD"> </a>
        </figure>
    </div>

    <div class="box">
        <h3> INFORMACION </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
        <h3> FORMAS DE CONTACTO </h3>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy; 2024 <b> RESTAURANT FOOD </b> - Todos son mis derechos </small>
        </div>
    </footer>
</div>
</body>
</html>