<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>inicio sesion </title>
</head>
<body background="img/descarga.jpeg" width="100%" height="100%">

    <div class="login-container">
        <h1>RESTAURANT FOOD
        </h1>
        <img class="img1" src="img/fondo_1.png" alt="gatito">
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            <label for="password" aria-placeholder="">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <button type="button" onclick="validateLogin()">Iniciar sesión</button>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>
